.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.app {
  display: flex;
  align-items: center;
}

.always-displayed {
  display: flex;
  margin-left: 50px;
  flex-direction: column;
  align-items: center;
}